body{
    margin:0%;
}



h1 {
    color: rgb(195, 115, 253);
    border: solid 18px;
    text-align:center;
    font-size:150px;
    font-family: Arial, Helvetica, sans-serif

}


#intro {
    color:rgb(69, 2, 118);
    font-size: 30px;
    font-family: Helvetica;
    text-align:justify;
    margin-top: -80px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 0px;

}


#purplepsychology {
    margin-top: -30px;
    width: 100%;
    text-align: center
}

#body {
    color:rgb(69, 2, 118);
    font-size: 30px;
    font-family: Helvetica;
    text-align:justify;
    margin-top: -1%;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 0px;
}

#shades {
    margin-top: -30px;
    width: 100%;
    text-align: center
}


.email{
    font-size: 60px;
    display:block;
    color:white;
    background-color:rgb(195, 115, 253);
    width: 20%;
    text-align: center;
    text-decoration: none;
    margin-left: 40%;
    border-radius: 5%;
    transition-duration: 1s;

}

.email:hover{
    background:rgb(118, 49, 222);
    color:white;
    border-radius:30%;
}
